<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre o Hotel Oasis</title>
    <link rel="stylesheet" href="../css/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo"><a href="#">Hotel Oásis</a></div>
            <ul class="links">
                <li><a href="index.html"><b>Home</b></a></li>
                <li><a href="about.html"><b>Sobre</b></a></li>
                <li><a href="serviços"><b>Serviços</b></a></li>
                <li><a href="contato"><b>Contato</b></a></li>
            </ul>
            <a href="reservation.html" class="action_btn">Fazer uma Reserva!</a>
        </div>
    </header>

    <main class="main">
        <section class="about-us">
            <div class="container">
                <div>
                    <h2 id="about_oasis">Sobre o Hotel Oasis</h2>
                    <p id="about_oasis">Bem-vindo ao Hotel Oasis, seu refúgio perfeito para relaxar e rejuvenecer. Localizado no coração da cidade, nosso hotel combina conforto moderno com um toque de elegância clássica.</p>
                    <img id="img2" src="../imagens/bradcam3.png">
                </div>
                <div class="history">
                    <img id="img3" src="../imagens/1.png">
                    <p id="history_text"><strong>Nosso Compromisso</strong><br>
                        No Hotel Oasis, nossa missão é oferecer uma experiência incomparável a 
                        cada hóspede. Desde o atendimento personalizado até nossas instalações de 
                        primeira classe, cada detalhe é pensado para garantir que sua estadia seja memorável.
                        <br>
                        <strong>Hospedagem Confortável:</strong> Quartos espaçosos e bem equipados com decoração elegante e amenities modernas.
                        <br><br>
                    </p>
                </div>
                <div class="real_history">
                    <p id="real_history_text"><h1 id="title-history">História</h1><br><br>
                        O Hotel Oasis é um ícone de sofisticação e charme, cuja história começou com um sonho visionário. Construído no ano de 2004, o hotel 
                        foi concebido para ser mais do que apenas um local de hospedagem — ele foi projetado para ser um verdadeiro oásis de 
                        conforto e elegância, um lugar onde os hóspedes possam escapar da rotina diária e se imergir em um ambiente de tranquilidade e luxo.
                        <br><br>
                        Originalmente, o Hotel Oasis começou com um conceito simples de refúgio no meio de uma paisagem deslumbrante, com foco em um atendimento personalizado.
                         Ao longo dos anos, o hotel passou por várias reformas e modernizações, adaptando-se às mudanças do mercado e mantendo sempre um padrão de excelência.
                    </p>
                    <img id="img4" src="../imagens/bradcam.png">
                </div>


        </section>
    </main>

    <footer>
        <p>&copy; 2024 Hotel Oasis. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
