<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agradecimento pela Reserva</title>
    <link rel="stylesheet" href="../css/sucess_realization.css">
</head>
<body>
    <div class="container" >
        <section id="hero">
            <h1>Obrigado pela sua Reserva!</h1>
            <p>Estamos felizes em confirmar sua reserva no nosso hotel. Em breve, entraremos em contato com mais detalhes.</p>
            <p>Se precisar de assistência adicional, não hesite em nos contatar.</p>
            <a href="index.html" class="btn">Voltar para a Página Inicial</a>
        </section>
    </div>

</body>
</html>
